body{
    font-family: 'Roboto', sans-serif;
}
     
.banner-h1{
        font-size: 50px;
        text-align: center;
        color: white;
        background-position: center;
    }
    .banner-img{
        background-image: url(images/donation5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        box-shadow: 
        inset 50px -200px 900px 90px rgb(0, 0, 0),
        inset 0px 0px 0px 0px rgb(255, 255, 255);
    }
    body{
        margin: 0px;
    }
    .banner-img h1{
        color: white;
        font-size: 100px;
        text-align: center;
        margin-top: 0;
        margin-left: 300px;
        margin-right: 300px;
        position: relative;
        top: 200px 
     }
    .banner-img p{
        font-size: 30px;
        position: absolute;
        top: 450px;
        font-weight: bold;
        left: 300px;
        right: 300px;
        text-align: center;
        color: white;
    }
    .banner-img a{
        position: absolute;
        top: 600px;
        left: 45%;
        text-align: center;
        background-color: orangered;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        padding: 20px;
    }
    .banner-img a:hover{
        background-color: blueviolet;
        color: gold;
    }
    .sec-sec h1{
        text-align: center;
        font-size: 50px;
    }
    .sec-sec p{
        text-align: center;
        border: 2px solid black;
        margin-left: 600px;
        margin-right: 600px;
        margin-top: 0;
    }
    #you{
        position: relative;
        top: 100px;
        left: 200px;
    }
    #youtube:hover{
        color: blue;
    }
    #name:focus{
        color: aqua;
        font-size: larger;
    }
    .button-tk{
        text-align:center;
        
    }
    .button-tk button{
        background-color: orangered;
        border: 2px solid orange;
        padding: 50px;
    }

    table{
        border-collapse: collapse;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        
    }

    th, td{
        border: 2px solid gray;
        border-collapse: collapse;
        padding-left: 20px;
        padding-right: 20px;
        }